/* @paulnbrd on github ^^ */
html, body {
  font-family: 'Do Hyeon', sans-serif;
  height:100%;
  padding:0;
  margin:0 auto;
  display: flex;
}

.content {
  display:table-cell;
  margin:auto;
}
.no-margin-top {
  margin-top: 0;
}

.title {
  font-size: 500%;
}
.bold {
  font-weight: bold;
}
.center {
  text-align:center;
}
.subtitle {
  color:grey;
}

.link {
  color:black;
  text-decoration: none;
}
.link h4 {
  margin:10px;
}
.supported-language {
  font-size:15px;
}
